.App {
  text-align: center;
}
.home-div {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  background-color: #ce2829;
}
.btn {
  background-color: yellow;
  border-radius: 40%;
  max-width: 100%;
  margin: auto;
  padding: 1rem;
}
.home-div > h2 {
  font-size: 1.5rem;
  color: white;
}
.home-div > h3 {
  color: white;
  font-size: 1.5rem;
  font-family: Light;
}
.home-div > img {
  max-width: 100%;
  height: 500px;
}
.basari-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #ce2829;
  color: white;
}
.header1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.yildiz {
  color: red;
}
.fiyat {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-left: 30%;
  margin-right: 30%;
}
.aciklama {
  margin-left: 30%;
  margin-right: 30%;
  text-align: start;
}
.ekmalzeme-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px; /* Sütun yüksekliği */
}

.ekmalzeme-div label {
  margin: 5px;
}

.checkbox-group label {
  flex-basis: calc(20% - 20px); /* 20% genişlik, 20px boşluk */
  margin: 0;
}

.malzeme-div {
  margin-left: 30%;
  margin-right: 30%;
  gap: 5rem;
}
.boyut {
  justify-content: space-between;
  display: flex;
  margin-left: 30%;
  margin-right: 30%;
}
.hdört {
  margin-left: 30%;
}
.yorum {
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
}
.yorum-input {
  width: 100%;
  padding: 1rem;
  border-radius: 5%;
}
.hr-class {
  margin-left: 30%;
  margin-right: 30%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-link {
    color: #61dafb;
  }
}
@font-face {
  font-family: "Barlow", sans-serif;
  font-family: "Chelsea Market", cursive;
}
