.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(255, 38, 0);
  color: aliceblue;
}
.btn {
  background-color: yellow;
  border-radius: 30%;
  max-width: 8%;
  margin: auto;
  padding: 1rem;
}
.home-div > img {
  margin: auto;
  max-width: 30%;
  max-height: 20%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
